@model IEnumerable<WebApplication3.Models.Evento>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Local)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ToList<WebApplication3.Models.Evento>().IndexOf(item) }) |
            @Html.ActionLink("Detalhes", "Exibir", new {  id= Model.ToList<WebApplication3.Models.Evento>().IndexOf(item) }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ToList<WebApplication3.Models.Evento>().IndexOf(item) })
        </td>
    </tr>
}

</table>
